body {
    font-family:Verdana, Calibri, sans-serif;
    margin:0px;
    padding:0px;
}

nav > ul{
    margin:0px;
    padding:0px;
    margin-left:30%;
}

nav li{
    list-style-type:none;
}

nav > ul > li{
    float:left;
    position:relative;
}

.submenu{
    display:none;
}

nav{
    width:100%;
    background-color:black;

}

nav > ul::after{
    content:"";
    display:table;
    clear:both;
}

nav a{
    display:inline-block;
    text-decoration:none;
}

nav > ul > li > a{
    padding:20px 30px;
    color:white;
}

.menu:hover{
    font-weight:bold;
    color:red;
}

nav li:hover .submenu{
    display:inline-block;
    position:absolute;
    top:100%;
    left:-25px;
    padding:0px;
    z-index:100000;
}

.submenu li{
    border-bottom:1px solid #CCC;
}

.submenu li a {
    font-weight:normal;
    padding: 15px 30px;
    font-size:13px;
    width:130px;
    color:black;
    text-align:center;    
    background-color:rgba(128, 128, 128, 0.55)
}

.submenu li:hover{
    font-weight:bold;
    background-color:rgba(191, 64, 64, 0.60);
}